<!DOCTYPE html>
<html lang="es">


<header>
    {% extends 'base_navbar.html' %} {% load i18n static %} {% block contenido %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'css/archivo.css' %}" rel="stylesheet" />
    <meta charset="utf-8" />
    <script>
        $('#reporteModal').modal({
            focus: true
})
    </script>
</header>

<body>
    <section>
        {% if acceso %}
        <div class="row d-flex justify-content-center">
            <div class="leftcolumn" style="margin-left: 40px; margin-top: 30px;">
                <div class="row">
                    <div class="col-md-9">
                        <h2 style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{archivo.nombre}}
                        </h2>
                    </div>
                    {% if not es_owner%}
                    <div class="col-md-3">
                        <button type="button" class="btn boton" style="float:right;margin-right:10px" data-toggle="modal" data-target="#reporteModal">Reportar error</button>
                        <!-- Modal -->
                        <div class="modal fade" id="reporteModal" tabindex="-1" role="dialog" aria-labelledby="reporteModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reporteModal">Nuevo reporte</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="myform" method="post" enctype="multipart/form-data">
                                            {% csrf_token %} {{form.as_p}}
                                            <div class="modal-footer">
                                                <button class="btn boton" type="submit">Reportar</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {% if es_owner%}
                    <div class="col-md-3">
                        <button type="button" class="btn boton" style="float:right;margin-right:10px" data-toggle="modal" data-target="#reporteModal">Mis reportes</button>
                        <!-- Modal -->
                        <div class="modal fade" id="reporteModal" tabindex="-1" role="dialog" aria-labelledby="reporteModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reporteModal">Mis reportes</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            {%if page_obj|length > 0 %}
                                            <div class="container">
                                                {% for reporte in page_obj %}
                                                <div class="card">
                                                    <div class="card-body standard_web_color">
                                                        <h5 class="card-title">{{reporte.usuario.nombre}} {% if reporte.tipo == "PLAGIO" %}
                                                            <span class="badge badge-warning">{{reporte.tipo}}</span> {% else %}
                                                            <span class="badge badge-danger">{{reporte.tipo}}</span> {% endif %}
                                                        </h5>
                                                        </h5>
                                                        <p class="card-text">{{reporte.descripcion}}</p>
                                                        <div class="d-flex justify-content-end align-items-center standard_web_color">
                                                            <a type="submit" class="btn btn-sm btn-outline-secondary" href="/curso/{{curso.id}}/archivo/{{archivo.id}}/reporte/{{reporte.id}}">
                                                                Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                <br>
                                                <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                        <span class="step-links"></span> {% if page_obj.has_previous %}
                                                        <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                                                        {% endif %}
                                                        <li class="page-item"><a class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                                                        {% if page_obj.has_next %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" onclick="window.open('{{archivo.id}}#reporteModal')">Última</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </nav>
                                            </div>
                                            {% else %}
                                            <div class="alert alert-secondary" role="alert">
                                                <p>No existe ningún reporte</p>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    <script>
                        $('#reporteModal').on('hidden.bs.modal', function () {}
                    </script>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <h5>Fecha de publicación: {{archivo.fecha_publicacion}}</h5>
                            {% if ".mp4" in archivo.ruta.path %}
                            <video controls controlsList="nodownload">
                                <source src="{% static url %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video> {% else %}
                            <iframe src="{% static url %}#zoom=90&toolbar=0&navpanes=0&scrollbar=0" title="PDF in an i-Frame" frameborder="0" scrolling="auto" style="width:100%; height:700px"></iframe> {% endif %}
                        </div>
                        <h2 style="margin-top: 30px;">COMENTARIOS</h2>
                        <div class="card" style="max-height: 500px;">
                            <ul>
                                {% for comentario in comentarios %}
                                <p>{{comentario}}</p>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="margin-top: 30px;">
                            <h2>Archivos del curso</h2>
                            <ul>
                                {% for archivo in contenido_curso %}
                                <li style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"><a href="/curso/{{curso.id}}/archivo/{{archivo.id}}">{{archivo.nombre}}</a></li>
                                {% endfor %}
                            </ul>
                            <a class="btn boton col-sm-12" href="/curso/{{curso.id}}">Atrás</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div>
            <p style="text-align: center;"> No tienes acceso a este recueso </p>
        </div>
        {% endif%} {% endblock %}
    </section>
</body>

<footer>
    {% block pie %}
    <br> {% endblock %}
</footer>

</html>