<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
    <header>
        {% block encabezado %}{% endblock %}
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"><img class="logo" src="{% static 'media/logo.png' %}" alt="" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <h1>UStudy</h1>
                </div>
            </div>
            <a class="btn btn-primary btn-lg float-right" href="/login">Login</a>
            <!-- <a class="btn btn-secondary btn-lg float-right" href="#">Registrate aquí</a> -->
        </nav>
    </header>
    <section>{% block contenido %} {% endblock %}</section>
    {% block pie %}{% endblock %}
</body>

</html>