<!DOCTYPE html>
<html>

{% extends 'base.html' %} {% load i18n static %} {% block contenido %}
<br>
<div style="align-content: center; margin-top: 5%;">

    <p style="text-align: center;"> Curso: {{curso.nombre}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Profesor: {{curso.propietario.nombre}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Precio: 12€</p>
    
    <br><br>
    {% if es_owner or es_suscriptor %}
        <div style="text-align: center;">
            {% for archivo in contenido_curso %}
            <td>
                {% if ".mp4" in archivo.ruta %}
                    <img src="https://i.postimg.cc/6Q9TLMqz/video.png" width="26px" height="19px"> <a href=""><b>{{archivo.nombre}}</b></a>
                {% elif ".pdf" in archivo.ruta %}
                    <img src="https://i.postimg.cc/3N7DV3x5/pdf-icon.png" width="26px" height="26px"> <a href=""><b>{{archivo.nombre}}</b></a>  
                {% endif %}
                {% if es_owner %}
                    <input style="margin-top: 20px; margin-right: 40px;" type="button" class="editarContenido" value="Editar Contenido">
                    <br>
                {% else %}
                <br>
                <br>
                {% endif %}
            </td>
            {% endfor %}
            
            {% if es_owner %}
            <br>
            {% endif %}

            <p style="padding: 1%">{{curso.propietario.titulacion}}: {{curso.asignatura.nombre}}</p>
            <br><br><br><br><br>
        </div>
    {% endif %}
    <div style="text-align: center;">
        <input style="margin-top: 20px;" type="button" class="atras" value="Atrás">
        {% if not es_suscriptor and not es_owner%}
            <input style="margin-top: 20px;" type="button" class="unirseCurso" value="Unirse al Curso"><br><br><br>
        {%endif%}
        
        {%if es_owner%}
            <input style="margin-top: 20px;" type="button" class="añadirContenido" value="Añadir Contenido"><br><br><br>
        {%endif%}
    </div>

</div>
{% endblock %}

</html>