<!DOCTYPE html>
<html>

<head>
    {% extends 'base_navbar.html' %} {% load i18n static %} {% block contenido %}
    <link href="{% static 'css/searchbar.css' %}" rel="stylesheet" />
    <link href="{% static 'css/valoraciones.css' %}" rel="stylesheet" />
    <meta charset="utf-8" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'css/archivo.css' %}" rel="stylesheet" />
</head>

<br>
<div class="row d-flex justify-content-center">
    {% if es_owner %}
    <h2>Editar curso</h2>
    {% endif %} {% if es_suscriptor %}
    <h2> Curso </h2>
    {% endif %}
</div>
<br>
<div style="align-content: center;">
    <div class="separado borde-azul standard_web_color">
        <p style="text-align: center; padding-top: 15px; font-size: 15px;"> <b>Curso:</b> {{curso.nombre}}
            <br> <b>Profesor:</b> {{curso.propietario.nombre}} <br>
            <b>Valoración media: </b>
        </p>
    </div>
    {% if es_owner or es_suscriptor %}
    <div class="separado borde-azul">
        <ul class="list-group list-group-flush">
            {% for archivo in contenido_curso %}
            <li class="list-group-item" style="border-radius: 50px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                {% if ".mp4" in archivo.ruta.url %}
                <img src="https://i.postimg.cc/6Q9TLMqz/video.png" width="26px" height="19px">
                <a href="/curso/{{curso.id}}/archivo/{{archivo.id}}"><b><b>{{archivo.nombre}}</b></a> {% elif ".pdf" in archivo.ruta.url %}
                <img src="https://i.postimg.cc/3N7DV3x5/pdf-icon.png" width="26px" height="26px">
                <a href="/curso/{{curso.id}}/archivo/{{archivo.id}}"><b><b>{{archivo.nombre}}</b></a> {% endif %} {% if es_owner %}
                <a type="submit" class="btn boton col-sm-1" style="width: 20%; float: right;" href="/curso/{{curso.id}}/{{archivo.id}}">
                    Eliminar</a> {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <br> {% endif %}
    <div style="align-content: center;">
        {% if not es_suscriptor and not es_owner%}
        <input class="btn boton col-sm-1 atras" style="margin-top: 20px;" type="button" value="Atrás" onclick="history.back()">
        <input class=" btn boton col-sm-1 unirseCurso" style="margin-top: 20px;" type="button" value="Unirse"><br><br><br>
        <h5>Para acceder al contenido de este curso debes unirte al mismo</h5>
        {%endif%} {%if es_owner%}
        <div style="display:flex; justify-content: center;">
            <form class="btn boton col-sm-3 btn-info justify-content-center" id="myform" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <br><br> {{form.file}}
            </form>
        </div>
        <div style="display:flex; justify-content: center;">
            <input class="btn boton col-sm-3 btn-info justify-content-center" form="myform" type="submit" style="margin: 20px;" value="Añadir Contenido">
        </div>
        <h5>Valora este curso: </h5>
        <div class="rating">
            <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
            <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
            <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
            <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
            <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
        </div>
        <div class="col text-center">
            <a class="btn boton col-sm-1 btn-info justify-content-center" href="/inicio_profesor">Atrás</a> {%endif%} {%if es_suscriptor%}
        </div>
        <div class="col text-center">
            <a class="btn boton col-sm-1 btn-info justify-content-center" href="/miscursos">Atrás</a>{%endif%} {%if excede_tamano%}
        </div>

        <h2> {{excede_mensaje}} </h2>

        {%endif%}
    </div>
</div>
{% endblock %}

</html>