<!DOCTYPE html>
<html lang="es">

<head>
    {% extends 'base_navbar.html' %} 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
    
{% block contenido %} 
<div class="container">
    <div class="row d-flex justify-content-center">
        <h2>Clases disponibles</h2>
    </div>
  
    {% for curso in cursos %}
    <div class="separado borde-azul">
        <h2>Asignatura: {{ curso.asignatura.nombre }}</h2>
        <h2>Profesor: {{ curso.propietario.nombre }}</h2>
        <h2>Precio: 12 Euros</h2>
        <div id="container">
            <a class="download2" href="">Suscribirse al Curso</a>
        </div>
    </div>
    {% endfor %} 
{% endblock %}
</div>  
   
</body>

<footer>
    {% block pie %}{% endblock %}
</footer>

</html>