<!DOCTYPE html>
<html lang="es">

<head>
    {% extends 'base_navbar.html' %}{% load static %}{% block contenido %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<style>

.form{

position: relative;
}

.form .fa-search{

position: absolute;
top:34%;
left: 10px;
color: #9ca3af;

}

.form span{

    position: absolute;
right: 17px;
top: 13px;
padding: 2px;
border-left: 1px solid #d1d5db;

}

.left-pan{
padding-left: 7px;
}

.left-pan i{

padding-left: 10px;
}

.form-input{

height: 40px;
text-indent: 20px;
border-radius: 10px;
}

.form-input:focus{

box-shadow: none;
border:none;
}
</style>

<body>
    <br>
    <div class="row d-flex justify-content-center">
        <h2>Cursos disponibles</h2>
    </div>
    <div class="row d-flex justify-content-center"></div>
    {%if suscrito %}
    <script>
        alert("{{suscrito}}");
        window.location.href = "/curso/{{curso.id}}"
    </script>

    {%endif%} {%if mensaje_error%}
    <div class="alert alert-danger row d-flex justify-content-center" role="alert">
        <h6 class="text-justify">{{mensaje}}</h6>
    </div>

    {%endif%}
    </div>
    <br>
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="form">
              <i class="fa fa-search"></i>
              <form action="/buscar_curso/" method="GET">
              <input name="q" id="buscador" type="text" class="form-control form-input" placeholder="Buscar cursos...">
            </form>
            </div>
          </div>
        </div>
      </div>


    <div class="container">
        <br>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {%if page_obj|length > 0 %} {% for cursoYvaloracion in page_obj %}
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 box-shadow border-info standard_web_color">
                            <div class="card-body standard_web_color ">
                                <h5 class="card-title">Asignatura: {{cursoYvaloracion.0.asignatura.nombre}}</h5>
                                <p class="card-text">Profesor: <a  href="/perfil/{{cursoYvaloracion.0.propietario.django_user.username}}">{{cursoYvaloracion.0.propietario.django_user.username}}</a></p>
                                <p class="card-text text-truncate">Descripción: {{cursoYvaloracion.0.descripcion}} </p>
                                <p class="card-text">Valoración: {{cursoYvaloracion.1}}</p>
                                {%if numArchivos|length > 0%}
                                    <p class="card-text">Archivos multimedia: {{numArchivos}}</p>
                                {%else%}
                                    <p class="card-text">Archivos multimedia: No hay archivos</p>
                                {%endif%}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group text-center">
                                        <div class="btn-group text-center">
                                            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#reporteModal{{cursoYvaloracion.0.id}}">Suscribirse</button>
                                            <div class="modal fade" id="reporteModal{{cursoYvaloracion.0.id}}" tabindex="-1" role="dialog" aria-labelledby="reporteModal{{cursoYvaloracion.0.id}}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="suscripcion_pop_up">Suscripción</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>¿Deseas suscribirte a este curso?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="/suscripcion/{{cursoYvaloracion.0.id}}" class="btn btn-primary">Si</a>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <small style="margin-left: 6px;" class="text-muted">Fecha publicación: {{cursoYvaloracion.0.fecha_publicacion|date:"d/m/Y"}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}{%else%}
                    <div class="col">
                        <p class="font-italic text-center lead">Actualmente no hay ningún curso disponible</p>
                    </div>
                    {%endif%}
                </div>
            </div>
            <br> {%if page_obj|length > 0 %}
            <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                <ul class="pagination">
                    <span class="step-links"></span> {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                    {% endif %}
                    <li class="page-item"><a class="page-link">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                    {% endif %}
                </ul>
            </nav>
            {%endif%} {% endblock %}
</body>
<footer>
    
</footer>

</html>