{% extends 'base.html' %} {% load static %}{% block contenido %}
<link href="{% static 'css/error.css' %}" rel="stylesheet" />
<br>
<a class="btn boton btn-info btn-lg float-right mr-5"  href="/">Inicio</a>
<!-- <a class="btn btn-secondary btn-lg float-right" href="#">Registrate aquí</a> -->
<div class="container ">  
    <div class="error-page float-sm-left">
        <h1>Oops!</h1>
        <h2>{{error}}</h2>
    </div>
    <div class="error-image">
        <img src="{% static 'media/logo_roto.png' %}" alt="" width="100%" height="100%" class="rotate20"/>
    </div>
<div> 
{% endblock %}
</body>