<!DOCTYPE html>
<html lang="en">
<head>

  {% extends 'base_navbar.html' %} {% load i18n static %} {% block contenido %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{% static 'css/colores.css' %}" rel="stylesheet" />

  <meta charset="utf-8" />

  </head>

<body>
  <br>
  <div class="album py-5 bg-light">
  <div class="col">
  <p class="font-italic text-center lead">Parece que hay algún error en el envío del correo ajeno a nuestra aplicación. Inténtelo de nuevo mas tarde</p>
</div>
</div>


</body>
{% endblock %}
</html>