<header>
    {% extends 'base_navbar.html' %} {% block contenido %}
</header>

<body>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h2>Cursos del profesor {{nombre}}</h2>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    {%if cursos|length > 0 %}{% for curso,archivos in dicc.items %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow border-info standard_web_color">
                            <div class="card-body ">
                                <h5 class="card-title">{{curso.asignatura.nombre}}</h5>
                                <p class="card-text">{{curso.descripcion}}</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item standard_web_color">Alumnos: {{archivos.2}}</li>
                                    <li class="list-group-item standard_web_color">Archivos multimedia: {{archivos.0}}</li>
                                    <li class="list-group-item standard_web_color">
                                        <div class="row justify-content-around">
                                            <div class="d-flex">
                                                {% if archivos.1 >= 0 %}
                                                <div>Puntuación: {{archivos.1}}/5</div>
                                                {% else %}
                                                <div>Todavía no ha recibido valoraciones</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <br>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" class="btn btn-sm btn-outline-secondary" 
                                        href="/curso/{{curso.id}}">Editar</a>
                                    </div>
                                    <small class="text-muted">Última actualización: {{curso.fecha_publicacion}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}{%else%}
                    <div class="col">
                        <p class="font-italic text-center lead">Actualmente no ha creado ningún curso</p>
                        <p class="font-weight-lighter text-center"><ins><a href="/crearcurso" class="text-decoration text-dark">¿Quieres crear uno?</a></ins></p>
                    </div>
                    {%endif%}
                </div>
            </div>

            {% endblock %}
</body>
<footer>
    {% block pie %}{% endblock %}
</footer>