<!DOCTYPE html>
<html>

{% extends 'base.html' %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "hello/style.css" %}" />
{% endblock %}

{% block contenido %}
<div style="align-content: center; margin-top: 10%;">
    <form style="text-align: center;" method="post">
        <input style="margin-bottom: 20px;" id="correo" type="text" name="correo_field" placeholder="usuario@alum.us.es"><br>
        <input id="password" type="text" name="password_field" placeholder="Contraseña"><br>
        <a href="" style="color: gray;">Olvidé mi contraseña</a><br>
        <input style="margin-top: 20px;" type="submit" class="iniciarProfesor" value="Iniciar Sesión"><br>
    </form>
    <div style="text-align: center;">
        ¿No tienes cuenta?<a href="">Regístrate</a>
    </div>
</div>
{% endblock %}
</html>