<!DOCTYPE html>
<html lang="es">

<head>
  {% extends 'base_navbar.html' %}{% block contenido %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>

<body>
  <br>
  <div class="container">
      <div class="row d-flex justify-content-center">
          <h2>Mis cursos</h2>
      </div>
      <br>
      <div class="album py-5 bg-light">
          <div class="container">
  
              <div class="row">
                {% for curso in cursos %}
                  <div class="col-md-4">
                      <div class="card mb-4 box-shadow standard_web_color">
                          <div class="card-body">
                              <h5 class="card-title">{{curso.asignatura.nombre}}</h5>
                              <p class="card-text">{{curso.propietario.nombre}}</p>
                              <p class="card-text">{{curso.descripcion}}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group text-center">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
  
          {% endblock %}
</body>
<footer>
  {% block pie %}{% endblock %}
</footer>

</html>