<!DOCTYPE html>
<html lang="en">
<head>
  {% extends 'base_navbar.html' %} {% load i18n static %} {% block contenido %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{% static 'css/colores.css' %}" rel="stylesheet" />
  <meta charset="utf-8" />

    {%if form %} 
    <form
    action="/pago/"
    class="form-signin container col-auto"
    style="width: 30%; margin-top: 20px"
    method="POST"
  >
    {% csrf_token %}

    <label>Introduzca cantidad a ingresar</label>
    <div>{{form.dinero}}</div>
    <div class="alert-danger">{{ form.dinero.errors }}</div>


<br>
    <div class="text-center mt-3">
      <button class="btn boton btn-info btn-block" type="submit">
        Ir al pago
      </button>
    </div>
  </form>

  {% endif %}



  {%if dinero %} 
    <script>
    function token(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = token('csrftoken');
    </script>
</head>
<body>
  <br>
  <div class="row d-flex justify-content-center">
      <h2>Escoja una forma de pago</h2>
  </div>
  
    <div id="paypal-button-container" class="d-flex justify-content-center mt-lg-5"></div>

    <script src="https://www.paypal.com/sdk/js?client-id={{client_id}}&disable-funding=credit,sofort&currency=EUR">

      </script>


    <script>
        paypal.Buttons({
          createOrder: function(data, actions) {
            return actions.order.create({
              purchase_units: [{
                amount: {
                  value: '{{dinero}}'
                }
              }]
            });
          },
          onApprove: function(data) {
            return fetch('/comprobacion_pago', {
                method: 'POST',
                headers: {
                'content-type': 'application/json',
                'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                orderID: data.orderID
                })
            }).then(function(res) {
                return res.json();
            }).then(function(details) {
                alert(details.mensaje);
                window.location.href = "/perfil/{{username}}"

                
            })
          }
        }).render('#paypal-button-container');
      </script>

{% endif %}

</body>
{% endblock %}
</html>