<header>
  {% extends 'base_navbar.html' %} {% block contenido %}{%load static%}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
  <meta charset="utf-8" />
</header>

<body>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {% if foto == "None"%}
          <img src="{% static "/media/avatar.png" %}" class="img-fluid" style="display: block; margin: 0 auto; float:center; height:180px;"/>
        {%else%}
          <div class="image">
            <img src="{% static foto %}" class="img-fluid img-thumbnail" style="display: block; margin: 0 auto; float:center"/>
            <br>
          </div>
        {%endif%}
      </div>

        <div class="col-md-5">
          <h3>{{nombre}}</h3>
          <p>Titulación: {{titulacion}}</p>
          <p>Monedero: {{dinero}}€</p>
        </div>
        <div class="col-md-3">

          <div class="d-grid gap-2 d-md-block">

            <a class="btn btn-outline-secondary mt-3 btn-sm btn-block" href="/pago">Añadir Fondos</h2>   
            <a id="editarPerfil" class="btn btn-outline-secondary mt-3 btn-sm btn-block"  href="/actualizar_perfil">Actualizar Perfil</a>
            <a class="btn btn-outline-secondary mt-3 btn-sm btn-block"  href="/correo">Retirar Fondos</a>
          </div>
          
        </div>
      </div>
    </div>
    <br>

      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>Mis Notificaciones</h3>
            <hr>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>Curso</th>
                    <th>Alumno</th>
                    <th>Descripcion</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for notificacion in notificaciones %}
                    {% if not notificacion.visto %}
                      <tr>
                        <td>{{notificacion.tipo}}</td>
                        <td>{{notificacion.fecha}}</td>
                        <td>{{notificacion.curso.nombre}}</td>
                        <td>{{notificacion.alumno.nombre}}</td>
                        <td>{{notificacion.descripcion}}</td>
                        <td>
                          <a class="btn btn-outline-secondary" href="{{notificacion.referencia}}">Ver</a>
                        </td>
                        <td>
                          <a type="submit" class="btn btn-outline-danger" href="/notificacion/eliminar/{{notificacion.id}}">X</a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


{% endblock %}
</body>
<footer>

</footer>