<head>
  {% extends 'base_navbar.html' %} {% load static %}{% block contenido %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />
</head>

<body>
  <div class="container col-auto pt-5 pr-5 pl-5 display:flex;">
    <div class="row">
      <div class="col">
        <h1 class="heading p-4">Política de Privacidad</h1>
        <h5 class="pt-2">Responsable</h5>
        <p>
          Ofrecemos una plataforma en línea a través de ustudy.dbgames.es donde
          los usuarios pueden intercambiar materiales de estudio. Procesamos
          datos personales en este servicio. Respetamos su privacidad y
          manejamos sus datos personales con cuidado de acuerdo con el
          Reglamento General de Privacidad de Datos ("GDPR").
        </p>
        <p>
          Esta declaración de privacidad se aplica al procesamiento de datos
          personales de todos los usuarios y visitantes del sitio web.
        </p>
        <p>
          Podemos cambiar esta declaración de privacidad. Cuando publicamos una
          versión modificada, lo mostramos claramente en nuestros sitios web.
          Aquí encontrará la versión más reciente de nuestra declaración de
          privacidad.
        </p>
        <h5 class="pt-2">Tratamiento de datos personales</h5>
        <p>
          Procesamos sus datos personales cuando utiliza UStudy, por ejemplo,
          cuando carga documentos a través de nuestro sitio web sin una cuenta o
          cuando se registra para crear una cuenta para hacer uso de diferentes
          funciones. Algunos datos personales son obligatorios porque son
          necesarios para ofrecer nuestros servicios, otros datos son opcionales
          para completar. Siempre puede cambiar o eliminar los datos personales
          ingresados ​​​​voluntariamente utilizando su propia cuenta.
        </p>
        <p>
          Nuestro responsable de los datos (Chief Data Officer) se encargará de
          informar y asesorar a los empleados sobre sus obligaciones bajo la ley
          de protección de datos, supervisar el cumplimiento de la legislación
          (incluidas las auditorías) y actuar como un punto de contacto para las
          solicitudes de las personas con respecto al procesamiento de sus datos
          personales y el ejercicio de sus derechos.
        </p>
        <h6 class="pt-2">Crear una cuenta</h6>
        <p>
          Cuando se registra para crear una cuenta, es necesario procesar
          algunos de sus datos personales. Puede registrarse ingresando su
          nombre y dirección de correo electrónico personal y dirección de
          correo profesional (Universidad de Sevilla) para verificar que usted
          pertenece a la Universidad de Sevilla.
        </p>
        <p>Procesamos los siguientes datos:</p>
        <ul>
          <li>Nombre y apellidos.</li>
          <li>Foto o imagen de la cuenta (opcional).</li>
          <li>Dirección de correo electrónico personal.</li>
          <li>
            Dirección de correo electrónico profesional (Universidad de
            Sevilla).
          </li>
          <li>Fecha de inicio del estudio.</li>
          <li>Facultad de estudio.</li>
          <li>Dirección IP.</li>
        </ul>
        <p>Procesamos estos datos personales para los siguientes propósitos:</p>
        <ul>
          <li>Para permitirle usar la Plataforma.</li>
          <li>
            Para mostrar sus datos a otros usuarios de Ustudy cuando utilizan
            sus documentos o cuando publica un comentario.
          </li>
        </ul>
        <p>
          La base legal para el procesamiento de sus datos personales del
          propósito 1 es la ejecución de un acuerdo con usted (el uso de
          UStudy). Con respecto al propósito 2, nos basamos en un interés
          legítimo para mantenerlo informado de las actualizaciones a través de
          su panel de control o correo electrónico y para analizar el uso de
          UStudy para mejorar nuestro servicio para los usuarios.
        </p>
        <h6 class="pt-2">Perfil</h6>
        <p>
          Cuando usa UStudy, puede buscar y cargar documentos y responder a
          otros usuarios. Para ello, es necesario tratar determinados datos
          personales, que vinculamos a su cuenta.
        </p>
        <p>
          Cuando carga documentos, también puede procesar datos personales que
          forman parte de ese documento. Por ejemplo, sus datos pueden ser
          visibles en el título del documento que está cargando, la descripción
          del documento y el contenido del documento pueden contener datos
          personales.
        </p>
        <p>
          Sus datos personales son visibles para otros usuarios en una cuenta en
          UStudy.
        </p>
        <p>
          Cuando responde a documentos y mensajes de otros estudiantes, se
          muestra su nombre, que es visible para otros estudiantes.
        </p>
        <p>
          Los siguientes datos personales se procesan cuando utiliza UStudy con
          su cuenta:
        </p>
        <ul>
          <li>Número de alumnos.</li>
          <li>Puntuación media.</li>
          <li>Puntuación por curso.</li>
          <li>Número de reportes.</li>
          <li>Número de comentarios.</li>
          <li>Documentos por curso.</li>
          <li>Estadísticas.</li>
          <li>Cursos suscritos.</li>
          <li>Cursos creados.</li>
          <li>
            Detalles de pago, incluida la cantidad de compensación que recibió
            de nosotros y su cuenta de PayPal.
          </li>
        </ul>
        <p>Procesamos estos datos personales para los siguientes propósitos:</p>
        <ul>
          <li>Para mostrar sus actividades en un resumen en su cuenta.</li>
          <li>Para permitirle usar UStudy.</li>
          <li>Para realizar un control de calidad automatizado.</li>
          <li>Para mostrar qué documentos ha compartido.</li>
          <li>
            La clasificación más alta de los documentos que han sido mejor
            evaluados.
          </li>
          <li>Para cobrar pagos y realizar pagos.</li>
        </ul>
        <p>
          La base legal para el procesamiento de sus datos personales para los
          fines (1), (2) y (6) es la ejecución de un acuerdo con usted (el uso
          de Ustudy). A los efectos (3), (4) y (5) nos basamos en un interés
          legítimo para ofrecer al usuario el mejor contenido posible.
        </p>
        <h6 class="pt-2">Notificaciones por correo electrónico</h6>
        <p>
          Enviamos correos electrónicos a los usuarios que han creado una cuenta
          para:
        </p>
        <ul>
          <li>
            Actualizaciones de nuestros servicios o nuevas funciones o cambios
            importantes en el sitio web.
          </li>
        </ul>
        <p>Para ello se procesan los siguientes datos personales:</p>
        <ul>
          <li>Su dirección de correo electrónico.</li>
          <li>Nombre de pila.</li>
        </ul>
        <p>
          Procesamos estos datos personales para informarle sobre nuestros
          propios servicios
        </p>
        <p>
          La base legal para el procesamiento de sus datos personales es nuestro
          interés legítimo de mantenerlo informado sobre ofertas y mensajes
          interesantes sobre UStudy.
        </p>
        <h5 class="pt-2">Periodos de almacenamiento</h5>
        <p>
          Conservamos sus datos personales durante no más tiempo del necesario
          para los fines para los que se procesan los datos personales. En
          ciertos casos, estamos obligados a conservar (ciertos) datos
          personales durante más tiempo cuando se aplica un período de retención
          legal.
        </p>
        <p>Utilizamos los siguientes períodos de almacenamiento:</p>
        <ul>
          <li>
            Información de la cuenta; hasta que elimine su cuenta o haya estado
            inactivo en UStudy durante más de 24 meses.
          </li>
          <li>
            Notificaciones por correo electrónico: hasta que se dé de baja.
          </li>
        </ul>
        <h5 class="pt-2">Seguridad</h5>
        <p>
          UStudy toma las medidas adecuadas para evitar el uso indebido, la
          pérdida, el acceso autorizado, la divulgación no deseada y la
          modificación no autorizada. Además, puede tomar las siguientes medidas
          usted mismo para proteger su cuenta:
        </p>
        <ul>
          <li>Utilice una contraseña segura.</li>
          <li>
            Informarnos de cambios en sus datos personales o incidentes
            relacionados con sus datos personales de manera oportuna.
          </li>
          <li>
            Tenga cuidado al divulgar información personal sobre usted a través
            de las redes sociales y a través de mensajes.
          </li>
          <li>Cierre sesión después de su visita a nuestro sitio web.</li>
        </ul>
        <p>
          En caso de fallo, UStudy le comunicará en un plazo máximo de 72 horas
          que ha sufrido un incidente de seguridad. Y no sólo deberán dar parte
          a las autoridades competentes, sino también a todos aquellos usuarios
          cuyos datos se hayan podido ver comprometidos.
        </p>
        <h5 class="pt-2">Sus Derechos</h5>
        <p>
          Puede solicitarnos el ejercicio de sus derechos con respecto a sus
          datos personales:
        </p>
        <ul>
          <li>
            <strong>Retirar el permiso:</strong> puede solicitarnos que
            retiremos su consentimiento una vez que se haya otorgado. Entonces
            dejaremos de procesar sus datos personales en el futuro, a menos que
            exista otra razón que nos obligue a hacerlo.
          </li>
          <li>
            <strong>Acceso:</strong> puede preguntarnos qué datos personales
            suyos tratamos. Si lo hacemos, compartiremos con usted qué datos
            personales se procesan, con qué propósito, con qué terceros se
            comparten, los períodos de almacenamiento utilizados, la fuente de a
            que se pueden haber recopilado datos personales fuera de usted e
            información sobre cualquier toma de decisiones automatizada.
          </li>
          <li>
            <strong>Corrección :</strong> puede solicitarnos que mejoremos o
            complementemos sus datos personales si estos datos personales son
            incorrectos o están incompletos.
          </li>
          <li>
            <strong>Eliminación :</strong> puede solicitarnos que eliminemos sus
            datos personales si los datos personales no son relevantes para el
            propósito para el que se recopilan. En ocasiones nos vemos obligados
            a conservar sus datos durante algún tiempo.
          </li>
          <li>
            <strong>Transferencia de datos (portabilidad de datos) :</strong>
            puede solicitarnos que obtengamos sus datos personales en una forma
            estructurada, actual y legible por máquina o transferirlos a otra
            organización cuando el procesamiento de datos se realiza
            automáticamente y se basa en un permiso o un acuerdo.
          </li>
        </ul>
        <p>
          Puede enviar una solicitud para ejercer los derechos anteriores
          poniéndose en contacto con nosotros en
          <a href="mailto:ustudy2022@gmail.com">ustudy2022@gmail.com</a>.
          Nuestro objetivo es responder dentro de las tres semanas posteriores a
          la recepción de la solicitud.
        </p>
        <div class="text-center pt-4">
          <img
            class="mb-4"
            src="{% static 'media/logo.png' %}"
            alt=""
            width="72"
            height="72"
          />
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
