<!DOCTYPE html>

<html>

<head>
    {% load i18n static %} {% block extrahead %}
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static 'css/registro.css' %}" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endblock %}
</head>


<body>
    {% block contenido %}
    <div class="container">
        <div class="col-md-2 col-md-offset-5 text-center">
            <a href="/"><img src="{% static 'media/logo.png' %}" width="72" height="72"></a>
        </div>
        <div class="stepwizard center-block">
            <br>
            <div class="stepwizard-row setup-panel">
                {%if form.email.errors|length > 0 or form.email_academico.errors|length > 0%}
                <div class="alert-danger bg-white text-center">ERROR en el paso 2</div>
                <br>
                {%elif form.titulacion.errors|length > 0 or form.descripcion.errors|length > 0%}
                <div class="alert-danger bg-white text-center">ERROR en el paso 3</div>
                <br>
                {%endif%}
                <div class="stepwizard-step col-xs-4">
                    <a href="#step-1" type="button" class="btn btn-info btn-circle">1</a>
                    <p>Datos personales</p>
                </div>
                <div class="stepwizard-step col-xs-4">
                    {%if form.email.errors|length > 0 or form.email_academico.errors|length > 0%}
                    <a href="#step-2" type="button" class="btn btn-default btn-circle btn-danger"
                        disabled="disabled">2</a>
                    {%else%}
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    {%endif%}
                    <p>Configuración del correo</p>
                </div>
                <div class="stepwizard-step col-xs-4">
                    {%if form.titulacion.errors|length > 0 or form.descripcion.errors|length > 0%}
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    {%else%}
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    {%endif%}
                    <p>Titulación</p>
                </div>
            </div>
        </div>
        <br>
        <form action="/registro/" method="POST">
            {% csrf_token %}
            <div class="row  container p-3 mt-3" id="step-1" style="width: 100%;">
                <div class="stepwizard center-block" style="background-color: #F2F2F2;">
                    <div class="col-md-12">
                        <h3>Datos personales</h3>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="control-label form-control-lg">Nombre de usuario</label> {{ form.username }}
                                <div class="alert-danger">{{ form.username.errors }}</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Nombre</label> {{ form.name }}
                                <div class="alert-danger">{{ form.name.errors }}</div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Apellidos</label> {{ form.surname }}
                            <div class="alert-danger">{{ form.surname.errors }}</div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Contraseña</label> {{ form.password }}
                            <div class="alert-danger">{{form.password.errors }}</div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Confirmar contraseña</label> {{form.confirm_password }}
                            <div class="alert-danger">{{form.confirm_password.errors }}</div>
                        </div>
                    </div>
                    <br>
                    <div class="row container">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <a class="btn btn-info nextBtn" style="background-color: #17a2b8;" type="button"
                                    href="/">Cancelar</a>
                                <a  id="siguiente" class="btn btn-info nextBtn" style="background-color: #17a2b8;"
                                    type="button">Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row setup-content container" id="step-2" style="width: 100%;">
                <div class="stepwizard center-block" style="background-color: #F2F2F2;">
                    <div class="col-md-12">
                        <h3> Configuración del correo</h3>
                        <div class="form-group col-md-12">
                            <label class="control-label">Correo electrónico</label> {{ form.email }}
                            <div class="alert-danger">{{ form.email.errors }}</div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Correo corporativo</label> {{ form.email_academico }}
                            <div class="alert-danger">{{ form.email_academico.errors }}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <a class="btn btn-info nextBtn" style="background-color: #17a2b8;" type="button"
                                        href="/">Cancelar</a>
                                    <a id="siguiente2" class="btn btn-info nextBtn" style="background-color: #17a2b8;"
                                        type="button">Siguiente</a>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row setup-content container" id="step-3" style="width: 100%;">
                <div class="stepwizard center-block" style="background-color: #F2F2F2;">
                    <div class="col-md-12">
                        <h3>Titulación</h3>
                        <div class="form-group col-md-12">
                            <label>Grado</label> {{ form.titulacion }}
                            <div class="alert-danger">{{ form.titulacion.errors}}</div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Descripción</label> {{ form.descripcion }}
                            <div class="alert-danger">{{ form.descripcion.errors }}</div>
                        </div>
                        <div class="form-check col-md-12">
                            {{ form.terminos }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Acepto los <a href="/terminos">Términos y Condiciones de Uso</a> de UStudy
                            </label>
                            <div class="alert-danger">{{form.terminos.errors }}</div>
                        </div>
                        <div class="form-check col-md-12">
                            {{ form.privacidad }}
                            <label class="form-check-label" for="flexCheckDefault">
                                Acepto la <a href="/privacidad">Política de Privacidad</a> de UStudy
                            </label>
                            <div class="alert-danger">{{form.privacidad.errors }}</div>
                        </div>
                        <br>
                        <div class="row container">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <a class="btn btn-info nextBtn" style="background-color: #17a2b8;" type="button"
                                        href="/">Cancelar</a>
                                        <button class="btn btn-info nextBtn" style="background-color: #17a2b8;"
                                        type="submit">Registrarme</button>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-info').addClass('btn-default');
                    $item.addClass('btn-info');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url'],textarea[textarea],input[type='password'], input[type='email'], select[select]"),
                    isValid = true;

                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid)
                    nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-info').trigger('click');
        });
    </script>
    {% endblock %}
</body>

</html>