<head>
  {% extends 'base_navbar.html' %} {% load static %}{% block contenido %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />
</head>

<body>
  <div class="container col-auto pt-5 pr-5 pl-5 display:flex;">
    <div class="row">
      <div class="col">
        <h1 class="heading p-4">Términos y Condiciones de Uso</h1>
        <p>
          Estas Condiciones de Uso se aplicarán a la utilización de la
          Plataforma de UStudy. Lea con atención este documento para conocer
          bien sus derechos y obligaciones a la hora de utilizar la Plataforma.
        </p>
        <h5 class="pt-2">Aplicabilidad</h5>
        <p>
          Al usar la Plataforma, usted declara aceptar estas Condiciones de Uso.
        </p>
        <p>
          UStudy tendrá pleno derecho a modificar estas Condiciones de Uso o a
          añadir a ellas contenidos adicionales. En caso de que alguna
          modificación o contenido añadido afecte significativamente a sus
          derechos y obligaciones, UStudy le notificará.
        </p>
        <p>
          Si continúa usted utilizando la Plataforma una vez que se hayan
          aplicado modificaciones o añadidos a estas, estará aceptando de manera
          irrevocable la versión de las Condiciones de Uso más reciente. Si no
          acepta usted la versión, su único recurso legal será dejar de utilizar
          la Plataforma y anular su Perfil.
        </p>
        <h5 class="pt-2">Disponibilidad</h5>
        <p>
          UStudy queda facultada para dejar temporalmente la Plataforma fuera de
          servicio sin necesidad de previo aviso y sin obligación de ofrecerle
          ninguna compensación.
        </p>
        <p>
          UStudy no garantiza que la Plataforma o cualquier parte de ella
          resulte accesible en todo momento, sin interrupciones ni fallos
          técnicos.
        </p>
        <h5 class="pt-2">La Plataforma</h5>
        <p>
          UStudy ofrece una Plataforma en la que los Estudiantes de la
          Universidad de Sevilla pueden intercambiar Material de Estudio,
          formular preguntas y comunicarse entre sí. Los Estudiantes podrán
          crear cursos y/o inscribirse a los cursos de sus compañeros.
        </p>
        <p>
          Todos los cursos ofrecidos por los Estudiantes son de pago y se deberá
          tener un Perfil para acceder a ellos.
        </p>
        <h5 class="pt-2">Perfil</h5>
        <p>
          Al crear un Perfil, el Estudiante deberá facilitar una dirección de
          correo electrónico personal, una dirección de correo profesional
          (Universidad de Sevilla) y una contraseña, que serán los datos con los
          que podrá acceder a la Plataforma y a su Perfil.
        </p>
        <p>
          Solo pueden usar la Plataforma personas que tengan como mínimo
          dieciséis (16) años de edad. Si no tiene usted aún dieciséis (16)
          años, necesitará el consentimiento de su representante legal antes de
          crear un Perfil.
        </p>
        <p>
          Le corresponde exclusivamente a usted la responsabilidad de proteger
          la confidencialidad de sus datos de registro. Si en cualquier momento
          tiene conocimiento o sospecha de que una persona no autorizada ha
          tenido acceso a su nombre de usuario y/o contraseña, deberá
          comunicárselo inmediatamente a UStudy y tomar medidas para ello.
        </p>
        <p>
          Los datos personales que facilite durante el registro se procesarán de
          acuerdo con la
          <a href="/privacidad" class="link-dark">Política de Privacidad</a>
          de UStudy.
        </p>
        <p>
          Usted declara entender y aceptar que, al crear un Perfil, otros
          Estudiantes podrán ver su nombre de usuario, universidad y foto de
          perfil (en caso de facilitar una) cuando publique Materiales de
          Estudio y/o comentarios.
        </p>
        <h5 class="pt-2">Suscripción curso</h5>
        <p>
          Los Estudiantes pueden suscribirse a un curso de la Plataforma
          teniendo acceso a este de manera ilimitada.
          Todos los cursos tendrán una cuota estándar de doce euros (12€), donde
          tres euros (3€) será la comisión que se llevará UStudy. Para acceder a
          un curso, es necesario que los estudiantes paguen la cuota estándar de
          doce euros (12€). Y así, tengan la opción de acceder y visualizar
          Materiales de Estudio.
        </p>
        <p>
          Al crear un curso el estudiante no tendrá derecho a decidir la cuota
          para su curso creado.
        </p>
        <p>
          El pago deberá realizarse de la manera que se detalla en la
          Plataforma.
        </p>
        <h5 class="pt-2">Materiales de Estudio</h5>
        <p>
          Los Estudiantes pueden publicar Material de Estudio correspondiente a
          las asignaturas que ellos mismos seleccionen.
        </p>
        <p>
          La manera y los formatos en que se puede publicar Material de Estudio
          se indican en la propia Plataforma.
        </p>
        <p>
          Usted declara entender y aceptar que le corresponde la responsabilidad
          derivada de cualquier material de estudio que publique en la
          Plataforma. Usted decide qué Material de Estudio publica en la
          Plataforma. UStudy declina cualquier responsabilidad de cara a usted o
          a cualquier tercero por posibles daños y perjuicios derivados del
          Material de Estudio que usted haya creado y compartido en la
          Plataforma o relacionados con ellos.
        </p>
        <p>
          UStudy comprobará y/o revisará aquel Material de Estudio que haya sido
          reportado. UStudy niega su participación en los Materiales de Estudio
          publicados.
        </p>
        <p>
          Ustudy se reserva el derecho de convertir a otro formato los
          Materiales de Estudio que usted haya cargado, el de insertar
          automáticamente marcas de agua y/o publicidad en los Materiales de
          Estudio.
        </p>
        <p>
          Si usted u otra persona que visite la Plataforma considera que algún
          Material de Estudio es ilegal, puede denunciarlo a UStudy. UStudy se
          reserva el derecho de eliminar Materiales de Estudio de acuerdo con lo
          estipulado.
        </p>
        <p>
          UStudy se reserva el derecho de rechazar o eliminar Material de
          Estudio de la Plataforma (por ejemplo, si el Material de Estudio en
          cuestión recibe una denuncia y/o calificaciones negativas) sin que
          ello suponga obligación de abonar compensación alguna.
        </p>
        <p>
          Puede eliminar sus Materiales de Estudio desde el curso donde publicó
          el material a eliminar.
        </p>
        <h5 class="pt-2">Sus obligaciones y el uso de la Plataforma</h5>
        <p>
          Los Materiales sobre Estudios que se ofrezcan en la Plataforma deberán
          utilizarse únicamente como ayuda al estudio de acuerdo a un espíritu
          de integridad académica.
        </p>
        <p>
          Usted se compromete a no revender ni distribuir Materiales de Estudio
          y a no lucrarse de la Plataforma de ningún otro modo.
        </p>
        <p>
          Usted se compromete a no publicar en la Plataforma versiones completas
          de libros (incluidos libros electrónicos).
        </p>
        <p>
          No se permite ofrecer Materiales de Estudio si lo presenta usted como
          propio y no lo es, ya que ello podría suponer una vulneración de
          derechos de copyright. Esta práctica se conoce también como plagio y
          todas las instituciones académicas la consideran como una falta grave.
        </p>
        <p>
          No se permite ofrecer Materiales de Estudio si contiene virus o
          cualquier otro tipo de software que permite causar daños en la
          Plataforma.
        </p>
        <p>
          UStudy se reserva el derecho de alterar, rechazar y/o eliminar
          Materiales de Estudio y/o comentarios publicados por usted sin
          necesidad de previo aviso.
        </p>
        <p>
          UStudy se reserva el derecho de rechazar o eliminar Material de
          Estudio de la Plataforma (por ejemplo, si el Material de Estudio en
          cuestión recibe una denuncia y/o calificaciones negativas) sin que
          ello suponga obligación de abonar compensación alguna.
        </p>
        <p>
          UStudy se reserva el derecho de restringir o suspender temporalmente
          sus actividades en relación con la Plataforma y/o de eliminar su
          Perfil si usted incumpliera estas Condiciones de Uso.
        </p>
        <h5 class="pt-2">Derechos de propiedad intelectual</h5>
        <p>
          UStudy le otorga un derecho limitado, personal, revocable, no
          exclusivo, no transferible y no sublicenciable a usar la Plataforma y
          a acceder a ella (incluida la Información) en la medida en que sea
          necesario para utilizar la propia Plataforma.
        </p>
        <p>
          Los Materiales de Estudio, Información que UStudy recopile y publique
          en la Plataforma formarán parte de una base de datos legalmente
          protegida por UStudy. Por tanto, le corresponde el derecho de otorgar
          permisos para extraer o reutilizar contenidos de la base de datos, ya
          sea en su totalidad o una parte sustancial de ella. Usted solo podrá
          solicitar o reutilizar contenidos de la base de datos si así se le
          permite en virtud de estas Condiciones de Uso y solo en la medida en
          que esté permitido.
        </p>
        <p>
          Usted conservará, en todo caso, todos los Derechos de Propiedad
          Intelectual sobre sus Materiales de Estudio. Al ofrecer Material de
          Estudio y/o Preguntas sobre Estudios través de la Plataforma, usted
          estará otorgando automáticamente a UStudy una licencia libre, sin
          restricciones e irrevocable para utilizar dicho Material de Estudio en
          relación con la Plataforma y para los fines de promocionales y/o de
          marketing de la Plataforma. Esta licencia no caducará al eliminar
          usted su Perfil ni cuando deje de utilizar la Plataforma.
        </p>
        <h5 class="pt-2">
          Notificaciones sobre Materiales de Estudio supuestamente ilegales y
          reincidencia en las infracciones
        </h5>
        <p>
          Si usted considera que determinados Materiales de Estudio vulneran sus
          Derechos de Propiedad Intelectual, podrá reportarlo en el botón de
          reportar contenido que aparece junto al documento a reportar o
          enviando un correo electrónico
          <a href="mailto:ustudy2022@gmail.com">ustudy2022@gmail.com</a>
          . Estudiaremos dicha notificación y, si es posible y necesario,
          adoptaremos las medidas que se detallan en esta cláusula.
        </p>
        <p>
          UStudy se reserva el derecho de rechazar peticiones para eliminar
          Materiales de Estudio, si tiene motivos razonables para pensar que la
          notificación correspondiente podría no ser correcta.
        </p>
        <p>
          Ustudy respeta y protege la privacidad de todas las personas que
          remitan notificaciones.
        </p>
        <div class="text-center pt-4">
          <img
            class="mb-4"
            src="{% static 'media/logo.png' %}"
            alt=""
            width="72"
            height="72"
          />
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</body>


